{% extends 'wrapit/genericPage.html' %}
{% load static %}

{% block title %}Testing{% endblock %}

{% block content %}
<div class="container">
  <div class="row mx-auto">
    <div class="col-sm-12">
      <h2>BEEBOD testing environment</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID&nbsp;</th>
            <th>Label</th>
          </tr>
        </thead>
        <tbody id="optionsTable">
          {% for aTest in pCtxt.options %}
          <tr>
            <td scope="row">{{ aTest.id }}</td><td><a href="/doTest?a={{ aTest.id }}">{{ aTest.label }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
